{{ $text := .Get "text" | default "Jetzt Anfragen" }}
{{ $recipient := .Get "recipient" | default "info@lightwave.show" }}
{{ $recipientKey := .Get "recipientKey" }}
{{ if $recipientKey }}
  {{ $keys := split $recipientKey "." }}
  {{ $recipient = .Site.Params }}
  {{ range $k := $keys }}
    {{ $recipient = index $recipient $k }}
  {{ end }}
  {{ if not $recipient }}
    {{ $recipient = .Page.Params }}
    {{ range $k := $keys }}
      {{ $recipient = index $recipient $k }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $subject := .Get "subject" | default "Anfrage" }}
{{ $body := .Get "body" | default "Hallo,\n\nich hätte Interesse an Ihrer Dienstleistung.\n\nMit freundlichen Grüßen" }}

{{/* 1. urlquery encodes the string (turning spaces to +)
     2. replace turns those + signs into %20 
*/}}
{{ $encodedSubject := $subject | urlquery | replaceRE `\+` "%20" }}
{{ $encodedBody := $body | urlquery | replaceRE `\+` "%20" }}

{{/* Create the mailto link */}}
{{ $mailtoLink := printf "mailto:%s?subject=%s&body=%s" $recipient $encodedSubject $encodedBody }}

<a href="{{ $mailtoLink | safeURL }}" class="email-button">{{ $text }}</a>